.contact__title{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.form-group{
    margin-bottom: 3rem;
}

.form-control{
    font-size: 20px;
}
.btn__form{
    font-size: 2rem;
    padding: .5rem 1rem;
    width: 15rem;
    margin: 0 auto;
}

form{
    margin-top: 3rem;
}

.contact__media{
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.info-flex{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (min-width: 768px){
    .info-flex{
        padding-top: 2rem;
    }
}

.item-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
}

.item-flex p{
    color: black;
}

@media (min-width: 768px){
    .contact__grid{
        display: grid;
        grid-template-columns: 1.3fr 1fr;
        gap: 5rem;
    }
}