.footer{
    border-top: 1px solid gray;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90%;
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
}

.footer__logo{
    margin: 0 auto;
}

.footer__logo img{
    height: 10rem;
    margin: 2rem auto;
}

.footer__icons{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.footer__links{
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 2rem;
}
